<header class="@@el cosmo-header">
  <div class="cosmo-header__inner">
    <div class="cosmo-header__top">
      <button type="button" class="js-cosmo-header-toggle cosmo-header__toggle">
        <picture>
          <img src="images/svg/menu-open.svg" width="40" height="40">
        </picture>
        <picture>
          <img src="images/svg/menu-close.svg" width="40" height="40">
        </picture>
      </button>
      <a href="chat.html" class="cosmo-header__new-chat">
        <picture>
          <img src="images/svg/plus-type-2.svg" width="20" height="20">
        </picture>
        <span class="cosmo-header__new-chat-title">Новый чат</span>
      </a>
      <ul class="js-chat-tab-nav cosmo-header__tab-nav">
        <li>
          <a href="#history-chat" class="is-active">История чатов</a>
        </li>
        <li>
          <a href="#history-tools">Инструменты</a>
        </li>
      </ul>
    </div>
    <div class="u-scrollbar cosmo-header__dropdown">
      <div class="cosmo-header__tab-content">
        <div id="history-chat" class="js-chat-tab-content cosmo-header__tab-item is-show">
          <div class="cosmo-header__tab-list">
            <div class="cosmo-header__tab-list-item">
              <p class="cosmo-header__tab-list-item-day">Сегодня</p>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Название чата 1</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Название чата 2</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Название чата 3</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Название чата 4</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Название чата 5</a>
                  </h3>
                </div>
              </div>
            </div>
            <div class="cosmo-header__tab-list-item">
              <p class="cosmo-header__tab-list-item-day">Предыдущая неделя</p>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Название чата 1</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Название чата 2</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Название чата 3</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Название чата 4</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Название чата 5</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="history-tools" class="js-chat-tab-content cosmo-header__tab-item">
          <div class="cosmo-header__tab-list">
            <div class="cosmo-header__tab-list-item">
              <p class="cosmo-header__tab-list-item-day">Сегодня</p>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <p class="history-item__type">Генератор изображений</p>
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Содержание чата 1</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <p class="history-item__type">Загрузи и спроси</p>
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Содержание чата 2</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <p class="history-item__type">Вставь ссылку и спроси</p>
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Содержание чата 3</a>
                  </h3>
                </div>
              </div>
            </div>
            <div class="cosmo-header__tab-list-item">
              <p class="cosmo-header__tab-list-item-day">Предыдущая неделя</p>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <p class="history-item__type">Чат с нейросетью</p>
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Содержание чата 1</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <p class="history-item__type">Краткое содержание статьи</p>
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Содержание чата 2</a>
                  </h3>
                </div>
              </div>
              <div class="history-item cosmo-header__tab-list-item-card">
                <div class="history-item__content">
                  <p class="history-item__type">Генератор изображений</p>
                  <h3 class="history-item__title">
                    <a href="#" class="history-item__link">Содержание чата 3</a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>