@font-face {
  font-family: 'PP Neue Machina';
  src: url('../fonts/PPNeueMachina-Regular.woff2') format('woff2'),
       url('../fonts/PPNeueMachina-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('../fonts/PPNeueMachina-Ultrabold.woff2') format('woff2'),
       url('../fonts/PPNeueMachina-Ultrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina';
  src: url('../fonts/PPNeueMachina-Light.woff2') format('woff2'),
       url('../fonts/PPNeueMachina-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pobeda';
  src: url('../fonts/Pobeda-Regular.woff2') format('woff2'),
       url('../fonts/Pobeda-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}